@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://v3.bootcss.com/css/">Bootstrap</a>
        <a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-3.1" target="_blank" class="ml-md-auto">ASP.NET Core Blazor</a>
        <a href="https://blazor.sdgxgz.com/" target="_blank" class="ml-md-auto">BootstrapBlazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
