@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">http://blazor.net</a>
        <a href="https://ant-design-blazor.gitee.io/zh-CN/components/components%20overview" target="_blank" class="ml-md-auto">Ant Design Blazor </a>
        <a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-3.1" target="_blank" class="ml-md-auto">ASP.NET Core Blazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
